.answerCol {
  composes: answerCol from '../index.css';
  flex: 1;
}
.answerInner {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  margin: 15px;
}
.mainCol {
  composes: mainCol from '../index.css';
  padding: 15px;
  box-sizing: border-box;
}
.sideContain {
  composes: sideCol from '../index.css';
  box-sizing: border-box;
  padding: 15px 15px 15px 60px;
}
.headerRow {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.logo {
  height: 30px;
  width: 30px;
  margin-right: 15px;
}
.name {
  margin: 0;
  font-size: 24px;
}
.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: #09C;
  color: white;
  margin: 5px 0 5px 15px;
  font-size: 10px;
}
.priceRow {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 10px;
}
.priceItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 10px;
}
.priceLabel {
  font-size: 10px;
  color: #666;
  margin: 0;
}
.price {
  font-size: 20px;
  font-weight: normal;
  color: #444; 
  margin: 5px 0;
}
.price span {
  font-size: 14px;
  color: #666;
}
.linkItem {
  display: inline-flex;
  flex-direction: row;
  padding: 8px 15px 8px 10px;
  background-color: #ddd;
  margin: 5px 10px 5px 0;
  border-radius: 5px;
}
.linkItem:hover {
  background-color: #ccc;
}
.linkItem span {
  margin-left: 10px;
  font-size: 14px;
}
.explorer {
  padding: 20px 0 15px;
}
.explorerTitle {
  font-size: 14px;
  color: #444;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}
.explorerTitle span {
  margin-left: 10px;
}
.explorerOuter {
  padding: 4px 0;
}
.explorerLink span {
  color: #1a0dab;
}
.explorerLink:visited {
  color: #609;
}
.rank {
  margin: 0;
}
.rank span {
  background-color: #0c9;
  padding: 0 15px;
  margin: 0 5px;
  border-radius: 20px;
  font-size: 14px;
  min-width: 40px;
  line-height: 40px;
  color: white;
  box-sizing: border-box;
  display: inline-block;
}
.supplyContain {
  padding: 20px 0 0;
}

@media screen and (max-width: 840px) {
  .answerInner {
    flex-direction: column;
    margin: 0;
  }
  .sideContain {
    padding: 0 15px;
  }
  .priceRow {
    flex-direction: column;
    align-items: flex-start;
  }
}